<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Cadastrar usuário - Supermercado PagueMais</title>
</head>
<body>
    <div class="container">
        
        <form method="POST" action="http://localhost:5000/cadastrarusuario">
            <h1>Cadastrar novo Usuário</h1>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario">
            <br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">
            <br>
            <input type="submit" value="Cadastrar">
            <div class="cancelar">
                <a href="{{ url_for('cancelarcadastrousuario') }}">Cancelar</a>
            </div>
            
        </form>
        
    </div>
    

</body>
</html>