<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Login - Supermercado PagueMais</title>
</head>
<body>
    {% if mensagem %}
        <div class="alert alert-danger" role="alert">
            {{ mensagem }}
        </div>
    {% endif %}
    <div class="container">
        
        <form method="GET" action="http://localhost:5000/login">
            <h1>Login</h1>
            <label for="usuario">Seu usuário:</label>
            <input type="text" id="usuario" name="usuario">
            <br>
            <label for="senha">Sua senha:</label>
            <input type="password" id="senha" name="senha">
            <br>
            <input type="submit" value="Logar">
            
            
        </form>
        
    </div>
    

</body>
</html>